
	<body class="bodyDiv">
        <div class="col-md-12">
		    <nav class="breadcrumb1">
		        <a href="/manage_user" class="body">USER REQUEST</a>
		        <a href="/block" class="body">BLOCK LIST</a>
		    </nav>
		</div>

<div class ="container-manage">
		<form method="POST" action="manage">

	<div class="heading">
	  <h1>Proprietor</h1>
	</div>
		<div class="container">
				<form method="POST" action="block">

					  {{#each companies }}
							<div class="row">
								<div class="col col-md-8">
									<h5> Name </h5>
				        	<p>{{ username }}</p>
								</div>
								<div class="col col-lg-1 col-md-2 col-xs-6">
									<h5>Accept</h5>
									<input type="radio" name="btn[p{{comp_id}}]" value="accept">
								</div>
								<div class="col col-lg-1 col-md-2 col-xs-6">
									<h5>Reject</h5>
									<input type="radio" name="btn[p{{comp_id}}]" value="reject">
								</div>
							</div>
					  {{/each }}

	  <div class="heading">
			<h1>Renter</h1>
		</div>
	  {{#each clients }}
	      <div class="row">
					<div class="col col-md-8">
	        	<p>{{ username }}<p>
					</div>
						<div class="col col-lg-2 col-md-1 col-xs-6">
				        <input type="radio" name="btn[r{{client_id}}]" value="accept">
						</div>
						<div class="col col-lg-2 col-md-1 col-xs-6">
				        <input type="radio" name="btn[r{{client_id}}]" value="reject">
						</div>
					</div>
	  {{/each }}
		<div class="idname">
				<button>Submit</button>
		</div>
	</form>
</div>
</div>
