<div class="container">
	<form method="POST" action="manage">
		{{#if companies}}
			<div class="row">
				<div class="col align-self-center">
					<h2>Proprietor</h2>
				</div>
			</div>
			<div class="row">
				  <div class="col col-lg-8 col-md-8 col-sm-8"><b>Name</b></div>
				  <div class="col col-lg-2 col-md-2 col-sm-2"><b>Accept</b></div>
				  <div class="col col-lg-2 col-md-2 col-sm-2"><b>Reject</b></div>
			</div>
			{{#each companies }}
				<div class="row">
					<div class="col col-lg-8 col-md-8 col-sm-8">
						{{ username }}
					</div>
					<div class="col col-lg-2 col-md-2 col-sm-2">
						<input type="radio" name="btn[p{{comp_id}}]" value="accept">
					</div>
					<div class="col col-lg-2 col-md-2 col-sm-2">
						<input type="radio" name="btn[p{{comp_id}}]" value="reject">
					</div>
				</div>
			{{/each }}
		{{/if}}
		{{#if clients}}
			<div class="row">
				<div class="col align-self-center">
					<h2>Renter</h2>
				</div>
			</div>
			<div class="row">
				  <div class="col col-lg-8 col-md-8 col-sm-8"><b>Name</b></div>
				  <div class="col col-lg-2 col-md-2 col-sm-2"><b>Accept</b></div>
				  <div class="col col-lg-2 col-md-2 col-sm-2"><b>Reject</b></div>
			</div>
			{{#each clients}}
				<div class="row">
					<div class="col col-lg-8 col-md-8 col-sm-8">
						{{ username }}
					</div>
					<div class="col col-lg-2 col-md-2 col-sm-2">
						<input type="radio" name="btn[r{{client_id}}]" value="accept">
					</div>
					<div class="col col-lg-2 col-md-2 col-sm-2">
						<input type="radio" name="btn[r{{client_id}}]" value="reject">
					</div>
				</div>
			{{/each }}
		{{/if}}
		<div class="idname"><button>submit</button></div>
	</form>
</div>
